# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDUNPtyVabNlPfqRzb9kcHYxat4AKT_1po
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=momci-51882.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=momci-51882
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=momci-51882.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=40966692972
NEXT_PUBLIC_FIREBASE_APP_ID=1:40966692972:web:fc6cd4595d6adc9fd73849

# Database Configuration (if using Firestore)
NEXT_PUBLIC_FIREBASE_DATABASE_URL=https://momci-51882-default-rtdb.firebaseio.com/

# Optional: Analytics
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-1LEC5XWP2K
